body {
    background-color: lavender;
}
p {
    color: ultraviolet;
    font-weight: bold;
}
#para1 {
    color: blue;
}
.class1 {
    font-weight: bold;
}
p.class1 {
    color: green;
    background-color: yellow;
}
* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
